
.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100; }
nav{
    display: flex;
    align-items: center; 
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-weight: bolder;
}

    .nav-title{
        font-weight: 800;
        font-size: 1745px;
    }
    .text-primary{
        color: #4E47FF ;
     width: 1099px; 
    height: 951px; 
font-style:bolder;  }

    .banner{
       text-align: center;
     margin-top: 237px;}

.header{
    background-image: url('../Hero-bg.png');
width: 1680px;
height: 698px ;
}
.btn-pri{
      font-weight: bold;
    color: white;
    padding: 18px 25px;
    border-radius: 13px;
    font-size: 20px;
    background-color: #4E47FF;
    border: none;}

    .section-description{
        font-size: 18px;
        color:#252432 ;
        width: 517px;
        height: 60px;
    }
    .item{
        display: flex;
        justify-content: space-between;
        height: 328px;
        width: 1140px;
        text-align: center;
        margin-top: 140px;
        padding: 20px;
        border-radius: 448px;
    }

    .section-title{
        width: 517px;
        height: 49px;
        font-size: 42px;
        color: #252432 ;
    }
    .wcimg{
        width: 403px;
        height: 328px;
        border-radius: 48px;
     
         }
    .second{
        width:517px ;
        height: 203px;
        display: block;
        text-align: justify;
        margin-top: 30px;
    }
    .third{
        width:935px;
        height: 235px;
    padding: 150px 75px;
      background-color :rgba(78,71,255, 0.1) ;    
    border:5px ;
        margin-top: 50px;
        text-align: center;
        border-radius:10px;
        display: flex;
        margin-bottom: 300px;
       
    
    }
      main{ 
        max-width: 1140px;
margin: 0 auto;
      }  
                
    .user-number{
    display: flex;
        justify-content: center;
        justify-content: space-between;
       
    }
 .first-item{
    font-size: 75px;
    color:blue ;
    width: 168px;
    height: 113px;
  display:inline;
  justify-content: center; }
.item-des{
    font-size: 19px ;
    color: #1d1717;
    }
 .section-title2{
    text-align: center;
    width: 798px;
    height: 43px;
    font-size: 36px;
 }
.section-title3{
    text-align: center;
    height: 49px;
    font-size: 42px;
    margin-top: 130px;
    
}
 .user-box{
    justify-content: space-between;

   
 }
 .now{
 
    justify-content: space-around;
 }
.avatar{
    height: 46px;
    width: 318px ;
   display: inline-flex;
   gap: 32px;
  
  

}
.user-review{
     width: 367px;
     height: 243px;
        background-color: #f5f4f4 ;
         padding: 24px ;
        gap: 150px;
        justify-content: 24px ;
       

  ;
}
.pic2{
text-align: center;
background-color:#f9f8f8 ;
width:1140px ;
height: 770px;
gap: 20px;
border:50px;
margin: 250px 250px;
justify-content: space-around;
}
.section-title3{
    width:600px ;
    line-height: 120%;
    height:50px ;
    font-size: 60px;
  margin: 220px;
    text-align: center;
}
.rev-dt{
 color: #b3b3b3 ;
}
.rev-nm{
    color: #757575; }
  .user3{
        width: 367px;
        height: 243px;
      
       gap: 150px;
        background-color: #f5f4f4 ;
       
        display: flex;
      
    }
    .btn-pri5{
            font-weight: bold;
    color: white;
    padding: 18px 25px;
    border-radius: 13px;
    font-size: 20px;
    background-color: #4E47FF;
    border: 20px ;
    text-align: center;
    margin: 50px;

      }
    .pic-file{
        text-align: center;
        justify-content: space-between;
    }

    .rlpic{
        height:365px ;
        width: 840px;
        text-align: center end;
        border-radius: 48px;
    }
 .pic-section{
    gap: 20px;
    text-align: center;
    justify-content: space-between;
 }
     .section-title4{
        width:600px ;
       height:50px ;
    font-size: 60px;
  margin:150px;
    text-align: center;
    display: flex;
    margin-left: 300px;
    margin-top: 30px;
     }   
     .get{
        height: 22px;
        width: 487px;
        color:#000000 ;
        text-align: center;
        margin-left: 330px;     }  
.mid{
    background-color:#D6DDED ;
   height: 632px;
   width: 1140px;
   padding-top: 71px;
   padding-bottom: 71px;
margin-left: 200px;
 display: flex ;
 justify-content: space-between;

}
.last-title{
    font-size: 97px;
    width: 528px;
    height: 232px;
   margin-left: 25px;
   color: #000000; 
}
.footer-colum2{
   width: 497px;
   height: 490px;
   gap: 19px;
   display:block  ; 
    margin-top: 20%;
border-radius: 5px;
  
   padding-right: 32px;
   padding-left: 32px;
   padding-bottom: 20px;
   padding-top: 20px;
   border: none;
   margin-bottom: 24px  ;
   font-size: 20px; }


footer input[ type="text"], footer input[ type="email"], footer textarea        {
   width: 100%  ;
   height: 64px;
  background-color: white;
padding: 10px 20px;
   display:block  ; 
border-radius: 5px;
  border: none;
margin-bottom: 24px;
margin-right: 19%;
}
.end{
    height: 990px;
     width: 1140px;
text-align: center;
    gap: 30px;
    margin-left: 200px;
 }

    .end2{
        display: block;

    }
    .endhead{
text-size-adjust: bold;
font-size : 900px;
width: 1128px;
color: #2922f0;
font-size: 6em;
font-weight: bolder;
  
  height: 80px; 
font-style:bolder;

    }
    .end-para{
color:#8987A1 ;
    }
    .paraend{
        display: flex;
        justify-content: space-between;
        color: #8987A1;
        height: 24px;
        width: 401px;
        word-spacing: 48;
        text-align: center;
        margin-left: 350px;
    }

    